
.login-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(212, 212, 212);
  
    mat-card {
      padding: 30px;
      width: 300px;
      height: 300px;
      gap: 15px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      mat-card-content{
        display: flex;
        form{
          button{
            width: 100%;
          }

          .checkbox-container{
            display: flex;
            justify-content: space-evenly;
            padding: 20px 10px;
          }
        }
      }
    }
  }
  